<div class="container">

    <div class="user-details">
        <h3> About Me </h3>
    </div>
    <img alt="Amit Bendor" class="profile_img" src="{{ "/assets/img/me2.png" | prepend: site.baseurl }}">

    <p>Entrepreneur and chatbot consultant, love creating and experimenting new things.

        Broad expertise, but mostly: Full stack bots development, Machine learning enthusiast (mostly NLP), Leader of The Israeli Bots community, Product management.
        
        Ex Co-Founder and CTO @Gooster, Chatbot service for hotels</p>
</div>