<div class="container">

    <div class="user-details">
        <h3> About Me </h3>
    </div>
    <img alt="Amit Bendor" class="profile_img" src="{{ "/assets/img/me2.png" | prepend: site.baseurl }}">

    <p>Entrepreneur and AI consultant, love creating and experimenting with new things.
        
        Helped 30+ companies to build successful products, data science departments and robust architectures.

        Broad experience in software and data science: Machine learning, deep learning, creative AI, recommenders, NLP & Chatbots, Podcasts, leadership, Product management.
        
        Head of AI @Artlist</p>
</div>
