<div class="container">
    <div class="user-details">
        <h3> Featured Clients & Partners </h3>
    </div>
    <div class="row clients">
        <div class="three columns client">
            <div class="logo">
                <img class="client logo" src="{{ "/assets/img/partner.png" | prepend: site.baseurl }}">
            </div>
            <span>Partner</span>
        </div>
        <div class="three columns client">
            <div class="logo">
                <img class="client logo" src="{{ "/assets/img/netflix.png" | prepend: site.baseurl }}">
            </div>
            <span>Netflix</span>
        </div>
        <div class="three columns client">
                <div class="logo">
                    <img class="client logo" src="{{ "/assets/img/garmin.png" | prepend: site.baseurl }}">
                </div>
              <span>Garmin Israel</span>
        </div>
        <div class="three columns client">
                <div class="logo">
                    <img class="client logo" src="{{ "/assets/img/google-cloud.jpg" | prepend: site.baseurl }}">
                </div>
              <span>Google Cloud</span>
        </div>
    </div>
</div>