<div class="container">
    <div class="user-details">
        <h3>Projects</h3>
    </div>  
        {% for project in site.data.projects %}
        <div class="row user-projects">
            <div class="six columns images">
              <img alt="aj labs" src="{{ project.img }}" />
            </div>
            <div class="six columns contents">
              <h5> {{ project.title }} </h5>
              <ul>
                <li> {{ project.category }} </li>
              </ul>
              <p>{{ project.description }}</p>
              <a class="project-link" href="{{ project.url }}">Check it out</a>
            </div>
          </div>

        {% endfor %}
</div>
