<div class="container">
  <div class="user-details">
    <h3> Highlights </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Aj Labs" src={{ "/assets/img/a1754702-original-min.jpeg" | prepend: site.baseurl }} />
    </div>
    <div class="six columns contents">
      <h5> AJ Labs (Consulting) </h5>
      <ul>
        <li> AI </li>
      </ul>
      <p>Consulting for top companies around the world in various machine learning fields - natural language processing (NLP), Chatbots, Recommender system, Marketing predictions, Multimodal, AI search and Data science management</p>
      <a class="project-link" href="https://www.linkedin.com/company/aj-labs/">Check it out</a>
    </div>
  </div>
    <div class="row user-projects">
        <div class="six columns images">
              <img alt="Farmster" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/onuuno7tnkxu5zv0kyol" />
        </div>
        <div class="six columns contents">
          <h5> Farmster </h5>
          <ul>
            <li> Voice & Chatbot </li>
          </ul>
          <p>The Farmster app and chatbot enables you to search produce near and far ahead of time and connect with new farmers at the touch of a button. </p>
          <a class="project-link" href="https://www.farmster.co/">Check it out</a>
        </div>
      </div>
      <div class="row user-projects">
          <div class="six columns images">
                <img alt="Making Software" src="https://cdn-images-1.listennotes.com/podcasts/%D7%A2%D7%95%D7%A9%D7%99%D7%9D-%D7%AA%D7%95%D7%9B%D7%A0%D7%94-osim/%D7%A2%D7%95%D7%A9%D7%99%D7%9D-%D7%AA%D7%95%D7%9B%D7%A0%D7%94-%D7%9B%D7%95%D7%AA%D7%91%D7%99%D7%9D-%D7%A7%D7%95%D7%93-HQ1nSsyWtXo-lwtIXyOBvi1.1400x1400.jpg" />
          </div>
          <div class="six columns contents">
            <h5> Making Software</h5>
            <ul>
              <li> Podcast </li>
            </ul>
            <p>A podcast on software, data and AI. The most popular software Podcasts in Israel - 1st place in the HiTech podcast category 2020 </p>
            <a class="project-link" href="https://static.wixstatic.com/media/463e01_a0d095d7dcc640f2ac6cc468c8af2c14~mv2.jpg/v1/fill/w_180,h_180,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Osim-Tochna300px.jpg">Check it out</a>
          </div>
        </div>
    <div class="row user-projects">
      <div class="six columns images">
            <img alt="Gooster" src= {{ "/assets/img/gooster.png" | prepend: site.baseurl }} />
      </div>
      <div class="six columns contents">
        <h5> Gooster (Closed) </h5>
        <ul>
          <li> Chatbot as a service </li>
        </ul>
        <p>Gooster lets you customize your very own hotel chatbot for your guests, powered by artificial intelligence and instantly via Messaging platforms or as a website widget.</p>
        <a class="project-link" href="https://gooster.net">Check it out</a>
      </div>
    </div>
</div>
