<div class="container">
  <div class="user-details">
    <h3> My Skills </h3>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Team Formation</h4>
      <img class="skill-icon " src="https://upload.wikimedia.org/wikipedia/commons/4/46/Artlist_new_Logo.png">
      <img class="skill-icon " src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2048px-Python-logo-notext.svg.png">
      <p>Building highly productive departments and teams - focused on business value </p>
      <p>Hiring: Leadership roles - Head of AI, Head of Data, CTOs. </p>
      <p>Hiring: ML researchers, Data scientists, ML Engineers, Backend engineers </p>
    </div>
    <div class="four columns">
      <h4>AI & Machine Learning</h4>
      <img class="skill-icon " src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/PyTorch_logo_icon.svg/640px-PyTorch_logo_icon.svg.png">
      <img class="skill-icon " src="{{ "/assets/img/tensorflow.png" | prepend: site.baseurl }}">
      <p>Wide experience in Research and Production - Recommender systems, NLP - LLMs (agents), Audio/Speech/Music AI, classical ML,   </p>
    </div>
    <div class="four columns">
      <h4>AI & Engineering Strategy</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>AI product strategy, Software architecture, complex solutions, Multi GPU</p>
    </div>
  </div>
</div>
