<div class="container">
  <div class="user-details">
    <h3> My Skills </h3>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Platforms</h4>
      <img class="skill-icon " src="{{ "/assets/img/google.png" | prepend: site.baseurl }}">
      <img class="skill-icon " src="{{ "/assets/img/msngr.png" | prepend: site.baseurl }}">
      <img class="skill-icon " src="{{ "/assets/img/alexa.png" | prepend: site.baseurl }}">

      <p>Chatbot & Voicebot exprience with various platforms: Google Assistant, Alexa, Facebook Messenger, Kik, Telegram, Skype, Web widget & More.</p>
    </div>
    <div class="four columns">
      <h4>A.I. / M.L.</h4>
      <img class="skill-icon " src="{{ "/assets/img/dialogflow.png" | prepend: site.baseurl }}">
      <img class="skill-icon " src="{{ "/assets/img/rasa.jpg" | prepend: site.baseurl }}">
      <img class="skill-icon " src="{{ "/assets/img/tensorflow.png" | prepend: site.baseurl }}">

      <p>Vast background in NLP (Natural Language Processing) and NLU (Natural Language Understanding), RL & Context management</p>
    </div>
    <div class="four columns">
      <h4>Deployment</h4>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>Experienced with deployment of several projects on Cloud/Premises using state-of-the-art Technologies. E2E Consulting from Architecture to a working product</p>
    </div>
  </div>
</div>
