<div class="container">
  <div class="user-details">
    <h3> My Skills </h3>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Main Languages</h4>
      <img class="skill-icon " src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/121px-R_logo.svg.png">
      <img class="skill-icon " src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2048px-Python-logo-notext.svg.png">
      <img class="skill-icon " src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png">
      <p>Python, Javascript, R</p>
    </div>
    <div class="four columns">
      <h4>A.I. / M.L. frameworks</h4>
      <img class="skill-icon " src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/PyTorch_logo_icon.svg/640px-PyTorch_logo_icon.svg.png">
      <img class="skill-icon " src="{{ "/assets/img/rasa.jpg" | prepend: site.baseurl }}">
      <img class="skill-icon " src="{{ "/assets/img/tensorflow.png" | prepend: site.baseurl }}">
      <p>Vast background in NLP (Natural Language Processing) and NLU (Natural Language Understanding), Recommenders & Context management</p>
    </div>
    <div class="four columns">
      <h4>Deployment</h4>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>Experienced with deployment of several projects on Cloud/Premises using state-of-the-art Technologies. E2E Consulting from Architecture to a working product</p>
    </div>
  </div>
</div>
