<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    {% include head.html %}
  <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->
</head>

  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="skills">
        {% include skills.html %}
      </section>
      <section id="clients">
        {% include clients.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
      <section id="other-projects">
        {% include other-projects.html %}
      </section>
      {% include posts.html %}

        {{ content }}
      {% include footer.html %}
      
      <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>